<html>
  <head>
    <title>Dashboard</title>
  </head>
  <h1 style="color: blue;">Personal Details</h1>
  <table border="1">
    <tr>
       <th>Info</th>
       <th>Details</th>
       </tr>
       <tr>
       <td>{{regdate}}</td>
       <td>  </td>
     </tr>
    <tr>
      <td>{{pID}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pName}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pBirth}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pGender}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pEmail}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{Data.pMobile}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pAadhar}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pCountry}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pState}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pCity}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pAddress}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pbloodgroup}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pchronicdisease}}</td>
      <td>  </td>
    </tr>
    <tr>
      <td>{{pmedicineallergy}}</td>
      <td>  </td>
    </tr>
    <tr>
        <td>{{pdoctorassigned}}</td>
        <td>  </td>
      </tr>
  </table>
</html>